{% extends 'base.html' %}
{% block 'title' %} | Actividades{% endblock %}
{% block 'body' %}
<div class="container">
	<ol class="breadcrumb">
		<li><a href="{% url 'index' %}"><i class="fa fa-home"></i> Inicio</a></li>
		<li><a href="{% url 'actividades' %}">Actividades</a></li>
		<li class="active">Nueva actividad</li>
	</ol>
	<div class="page-header">
		<h1 class="text-center"><i class="fa fa-briefcase"></i> Nueva actividad</h1>
	</div>
	<div class="row">
		<form action="{% url 'actividades' %}" method="post">
		{% csrf_token %}
		<div class="form-group col-md-4 col-md-offset-4">
			<label for="nombre">Nombre</label>
			<input type="text" class="form-control" id="nombre" name="nombre" required>
		</div>
		<div class="form-group col-md-4 col-md-offset-4">
			<label for="numero">Cantidad de grupos</label>
			<input type="number" class="form-control" id="numero" name="numero" required min="1">
		</div>
		<div class="form-group col-md-4 col-md-offset-4">
			<label for="profesor">Profesor</label>
			<input type="text" class="form-control" name="profesor" readonly value="{{ user.usuario|title }}">
		</div>
		<div class="col-md-4 col-md-offset-4">
			<label>Tipos de grupos</label>
			<div class="radio">
				<label data-toggle="tooltip" title="Los grupos homogéneos agrupan a los estudiantes por sus semejanzas y aspectos en común."><input type="radio" name="tipo" value="homo" id="homo" checked>Homogeneo</label>
				<label data-toggle="tooltip" title="Los grupos heterogéneos agrupan a los estudiantes de manera balanceada, buscando un equilibro entre sus aspectos mas resaltantes."><input type="radio" name="tipo" value="hete" id="hete">Heterogeneo</label>
			</div>
		</div>
		<div class="col-md-4 col-md-offset-4">
			<div class="row">
				<div class="col-xs-9"><label>Categoría</label></div>
				<div class="col-xs-3"><label>Peso</label></div>
			</div>
			<div class="row">
				{% for categoria in categorias %}
				<div class="checkbox col-xs-9{% if categoria.balanceada %} hidden hete{% else %} homo{% endif %}">
					<label><input type="checkbox" name="categorias" value="{{ categoria.pk }}">{{categoria|title}}</label>
				</div>
				<div class="col-xs-3{% if categoria.balanceada %} hidden hete{% else %} homo{% endif %}">
					<input type="number" class="form-control" name="peso{{categoria.pk}}" value="1" min="1" max="3">
				</div>
				{% endfor %}
			</div>
		</div>
		
		<div class="form-group col-md-4 col-md-offset-4">
			<button type="submit" class="btn btn-success">Enviar</button>
		</div>
		</form>
	</div>
	<div class="row">
		{% for mensaje in messages %}
		<div class="alert alert-danger alert-dismissible col-md-4 col-md-offset-4" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<strong>¡Error!</strong> 
			{{mensaje}}
		</div>
		{% endfor %}	
	</div>
</div>
{% endblock %}
{% block 'scripts' %}
	$('#homo').click(function(){
		$('.homo').removeClass('hidden');
		$('.hete').addClass('hidden');
	});
	$('#hete').click(function(){
		$('.hete').removeClass('hidden');
		$('.homo').addClass('hidden');
	});
{% endblock %}