{% extends 'base.html' %}
{% load customfilters %}
{% block 'title' %} | Actividades{% endblock %}
{% block 'body' %}
<div class="container">
	<ol class="breadcrumb">
		<li><a href="{% url 'index' %}"><i class="fa fa-home"></i> Inicio</a></li>
		<li><a href="{% url 'actividades' %}">Actividades</a></li>
		<li class="active">Detalles de {{ actividad|title }}</li>
	</ol>
	<div class="page-header">
		<h1 class="text-center"><i class="fa fa-briefcase"></i> {{ actividad|title }}</h1>
	</div>
	<div class="col-sm-6 col-sm-offset-3 panel-group" role="tablist" aria-multiselectable="true" id="mainpanel">
		{# Categorias #}
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title"><a data-toggle="collapse" data-target="#categorias">Categorías <span class="label label-default pull-right" data-toggle="tooltip" title="Cantidad de categorías.">{{actividad.categorias.all|length}}</span></a></div>
			</div>
			<ul class="list-group collapse" id="categorias" data-parent="#mainpanel">
				{% for categoria in actividad.categorias.all %}
				<li class="list-group-item">{{ categoria|title }} {% for star in categoria|peso:actividad %}<i class="fa fa-star text-warning" data-toggle="tooltip" title="La cantidad de estrellas indica el peso de esta categoría sobre las demás."></i>{% endfor %}</li>
				{% endfor %}
			</ul>
		</div>
		{# Estudiantes #}
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title"><a data-toggle="collapse" data-target="#estudiantes">Estudiantes <span class="label {% if actividad.estudiantes.all|length != actividad|estudiantes_agrupados and actividad.grupos.all|length > 0 %}label-danger{% else %}label-default{% endif %} pull-right" data-toggle="tooltip" title="Cantidad de estudiantes inscritos.">{{actividad.estudiantes.all|length}}</span></a></div>
			</div>
			<ul class="list-group collapse" id="estudiantes" data-parent="#mainpanel">
				{% for estudiante in actividad.estudiantes.all %}
				<li class="list-group-item">
					<div class="row-fluid">
						<span>{{ estudiante|title }} <a class="pull-right" data-toggle="collapse" data-target="#info{{estudiante.pk}}">Ver respuestas</a></span>
					</div>
					<div class="row-fluid collapse" id="info{{estudiante.pk}}">
						<ul>
							{% for respuesta in estudiante|respuestas:actividad %}
								<li>{{respuesta.categoria|title}}: {{respuesta.opcion|title}}</li>
							{% endfor %}
						</ul>
					</div>
				</li>
				{% empty %}
				<li class="list-group-item">No se han inscrito estudiantes.</li>
				{% endfor %}
			</ul>
		</div>
		{# Grupos #}
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title"><a data-toggle="collapse" data-target="#grupos">Grupos <small class="text-primary">{% if actividad.heterogenea %}(heterogeneos){% else %}(homogeneos){% endif %}</small> <span class="label {% if actividad.estudiantes.all|length != actividad|estudiantes_agrupados and actividad.grupos.all|length > 0 %}label-danger{% else %}label-default{% endif %} pull-right" data-toggle="tooltip" title="Grupos formados / Grupos deseados.">{{actividad.grupos.all|length}}/{{actividad.num_grupos}}</span></a></div>
			</div>
			<ul class="list-group collapse" id="grupos" data-parent="#mainpanel">
				{% for grupo in actividad.grupos.all %}
				<li class="list-group-item">
					<span>Grupo {{ forloop.counter }}</span>
					<ul>
						{% for estudiante in grupo.estudiantes.all %}
							<li>{{estudiante|title}}</li>
						{% endfor %}
					</ul>
				</li>
				{% empty %}
				<li class="list-group-item">No se han creado grupos, para crearlos vaya a <a data-toggle="collapse" data-target="#acciones">Acciones</a>.</li>
				{% endfor %}
			</ul>
		</div>
		{# Acciones #}
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title"><a data-toggle="collapse" data-target="#acciones">Acciones</a></div>
			</div>
			<ul class="list-group collapse" id="acciones" data-parent="#mainpanel">
				{% if actividad.estudiantes.all|length >= actividad.num_grupos and actividad.grupos.all|length < 1 %}
				<a class="list-group-item" href="{% url 'agrupar' actividad.pk %}" data-toggle="tooltip" title="Se crearán los grupos con los estudiantes actualmente inscritos, esto no le impide volver a reagrupar a los estudiantes en un futuro."><i class="fa fa-group"></i> Formar grupos</a>
				{% elif actividad.estudiantes.all|length >= actividad.num_grupos and actividad.grupos.all|length > 0 %}
				<a class="list-group-item" href="{% url 'agrupar' actividad.pk %}" data-toggle="tooltip" title="Podrá reagrupar a los estudiantes en caso de haber cambios en la matrícula de inscritos."><i class="fa fa-group"></i> Reagrupar estudiantes</a>
				{% else %}
				<a class="list-group-item disabled"><i class="fa fa-group"></i> Formar grupos (no hay suficientes estudiantes)</a>
				{% endif %}
				<a href="{% url 'cerrar' actividad.pk %}" class="list-group-item" data-toggle="tooltip" title="Si cierra el grupo, este dejará de ser visible tanto para usted como para sus estudiantes."><i class="fa fa-trash"></i> Cerrar grupo</a>
			</ul>
		</div>
	</div>
	{% if actividad.estudiantes.all|length != actividad|estudiantes_agrupados and actividad.grupos.all|length > 0 %}
	<div class="col-sm-6 col-sm-offset-3 alert alert-danger">
		<i class="fa fa-exclamation-triangle"></i> Se hicieron cambios en los estudiantes inscritos desde la última vez que los agrupaste, debes volver a reagrupar a los estudiantes.
	</div>	
	{% endif %}
</div>
{% endblock %}