{% extends 'base.html' %}
{% load customfilters %}
{% block 'title' %} | Actividades{% endblock %}
{% block 'body' %}
<div class="container">
	<ol class="breadcrumb">
		<li><a href="{% url 'index' %}"><i class="fa fa-home"></i> Inicio</a></li>
		<li class="active">Actividades</li>
	</ol>
	<div class="page-header">
		<h1 class="text-center"><i class="fa fa-briefcase"></i> Actividades</h1>
	</div>
	{% if user.usuario.profesor and not request.user.is_staff %}
	<div class="list-group col-sm-6 col-sm-offset-3">
		<a href="{% url 'addActividad' %}" class="list-group-item" data-toggle="tooltip" title="Crea una nueva actividad que será vista por cualquier estudiante.">
			<h4 class="list-group-item-heading text-center">Nueva actividad</h4>
		</a>
	{% for actividad in actividades %}
		<div class="list-group-item">
			{% if actividad.activo %}
			<a href="{% url 'detalles' actividad.pk %}" class="btn btn-primary btn-sm pull-right" data-toggle="tooltip" title="Muestra los estudiantes inscritos, los grupos formados y acciones que se pueden ejecutar.">Detalles</a>
			{% endif %}
			<h4 class="list-group-item-heading">{{ actividad|title }}</h4>
			<p class="list-group-item-text">N° de grupos: {{ actividad.num_grupos }}</p>
			<p class="list-group-item-text">Estudiantes inscritos: {{ actividad.estudiantes.all|length }}</p>
		</div>
	{% empty %}
		<div class="list-group-item">
			<h4 class="list-group-item-heading">No hay actividades disponibles.</h4>
		</div>
	{% endfor %}
	</div>
	{% else %}
	<div class="list-group">
	{% for actividad in actividades %}
		<div class="list-group-item col-sm-6 col-sm-offset-3 {% if not actividad.activo %}disabled{% endif %}">
			{% if request.user.usuario in actividad.estudiantes.all and actividad.activo and not actividad|en_grupo:request.user.usuario %}
			<a href="{% url 'desmatricular' actividad.pk %}" class="btn btn-success btn-sm pull-right" data-toggle="tooltip" title="Elimina tu inscripción sobre esta actividad y las respuestas que hayas dado.">Salir de la actividad</a>
			{% elif actividad.activo and actividad|en_grupo:request.user.usuario %}
			<a id="vergrupo" class="btn btn-info btn-sm pull-right" data-toggle="modal" data-target="#modalGrupo{{actividad|id_grupo:request.user.usuario}}" data-toggle="tooltip" title="Podrás ver los estudiantes que conforman el grupo al que has sido asignado.">Ver grupo</a>
			{% elif not actividad|en_grupo:request.user.usuario and not request.user.is_staff %}
			<a href="{% url 'inscribirse' actividad.id %}" class="btn btn-primary btn-sm pull-right" data-toggle="tooltip" title="Podrás unirte a la actividad luego de contestar el siguiente cuestionario.">Inscribirse</a>
			{% endif %}
			
			<h4 class="list-group-item-heading">{{ actividad|title }}</h4>
			<p class="list-group-item-text">Profesor: {{ actividad.profesor|title }}</p>
			<p class="list-group-item-text">N° de grupos: {{ actividad.num_grupos }}</p>
			<p class="list-group-item-text">Estudiantes inscritos: {{ actividad.estudiantes.all|length }}</p>
		</div>
	{% empty %}
		<h3>No hay actividades disponibles.</h3>
	{% endfor %}
	</div>
	{% endif %}
	{% for message in messages %}
	<div class="alert alert-danger alert-dismissible col-sm-6 col-sm-offset-3" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<strong>¡Error!</strong> {{ message }}
	</div>
	{% endfor %}
</div>
<!-- ///////////////// Modal para ver el grupo, solo como estudiante ////////////////-->
{% for grupo in request.user.usuario|grupos_activos %}
<div class="modal fade" tabindex="-1" role="dialog" id="modalGrupo{{grupo.pk}}">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center"><i class="fa fa-group"></i> {{grupo.actividad}}</h4>
      </div>
      <div class="modal-body">
      	<ul class="fa-ul">
      	{% for estudiante in grupo.estudiantes.all %}
      	<li{% if estudiante == request.user.usuario %} class="text-primary"{% endif %}><i class="fa fa-li fa-user"></i> {{ estudiante|title }}</li>
      	{% endfor %}
      	</ul>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->	
{% endfor %}

{% endblock %}