{% extends 'base.html' %}
{% load customfilters %}
{% block 'title' %} | Actividades{% endblock %}
{% block 'body' %}
<div class="container">
	<ol class="breadcrumb">
		<li><a href="{% url 'index' %}"><i class="fa fa-home"></i> Inicio</a></li>
		<li><a href="{% url 'actividades' %}">Actividades</a></li>
		<li class="active">Inscribirse</li>
	</ol>
	<div class="page-header">
		<h1 class="text-center"><i class="fa fa-briefcase"></i> Inscribirse en: {{ actividad|title }}</h1>
	</div>
	<div class="row">
		<form action="{% url 'actividades' %}" method="post">
			<input type="number" name="actividad" readonly value="{{actividad.pk}}" hidden>
			{% for categoria in actividad.categorias.all %}
			{% csrf_token %}
			<div class="form-group col-sm-6 col-sm-offset-3">
				<label for="{{ categoria.pk }}">{{ categoria|title }}</label>
				<select name="{{ categoria.pk }}" id="{{ categoria.pk }}" class="form-control" required {% if categoria.nombre == 'ubicacion' %}readonly="" {% endif %} >
					<option disabled {% if not opcion|es_ubicacion:request.user.usuario %}
						selected
					{% endif %} hidden></option>
					{% for opcion in categoria.opciones.all %}
						<option value="{{opcion.pk}}" {% if opcion|es_ubicacion:request.user.usuario and categoria.nombre == 'ubicacion' %}selected hidden{% elif categoria.nombre == 'ubicacion' %}hidden disabled{% endif %}>{{ opcion|title }}</option>
					{% endfor %}
				</select>
			</div>
			{% endfor %}
			<div class="form-group col-sm-6 col-sm-offset-3">
				<button class="btn btn-primary" type="submit" data-toggle="tooltip" title="Al enviar el formulario no podrás editar tus respuestas.">Enviar</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}