<!DOCTYPE html>
<html lang="en">
<html>
{% load static %}
	<head>
		<title>GroupMe{% block 'title' %}{% endblock %}</title>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="{% static 'groupme/css/bootstrap.min.css' %}" >
		<link rel="stylesheet" href="{% static 'groupme/css/font-awesome.min.css' %}" >
		<link rel="stylesheet" href="{% static 'groupme/css/jquery-ui.css'%}">
		<link rel="shortcut icon" href="{%  static 'groupme/favicon.png' %}">

		<script src=" {% static 'groupme/js/jquery-3.1.1.min.js' %}" ></script>
		<script src="{% static 'groupme/js/jquery-ui.min.js' %}"></script>
		<script src=" {% static 'groupme/js/bootstrap.min.js' %}" ></script>
		<style>
			body { padding-top: 70px; padding-bottom: 70px; }
		</style>
	</head>
	<body class="container-fluid">
		{% include 'navbar.html' %}
		{% block 'body' %}
		{% endblock %}
	</body>
	<script>
		$(document).ready(function(){
			$('[data-toggle="tooltip"]').tooltip({
				delay: { "show": 1000, "hide": 300 }
			});
		{% block 'scripts' %}
		{% endblock %}
		});
		
	</script>
</html>