{% extends 'base.html' %}
{% block 'title' %} | Perfil{% endblock %}
{% block 'body' %}
<div class="container">
	<ol class="breadcrumb">
		<li><a href="{% url 'index' %}"><i class="fa fa-home"></i> Inicio</a></li>
		<li><a href="{% url 'profile' %}">Perfil</a></li>
		<li class="active">Editar perfil</li>
	</ol>
	<div class="page-header">
		<h1 class="text-center">Editar perfil de {{ user }}</h1>
	</div>
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
			<form action="{% url 'profile' %}" method="post">
			{% csrf_token %}
			<div class="form-group">
				<label for="nombre">Nombre</label>
				<input type="text" class="form-control" id="nombre" name="nombre" value="{{ user.first_name }}" required>
			</div>
			<div class="form-group">
				<label for="apellido">Apellido</label>
				<input type="text" class="form-control" id="apellido" name="apellido" value="{{ user.last_name }}" required>
			</div>
			<div class="form-group">
				<label for="email">Correo</label>
				<input type="email" class="form-control" id="email" name="email" value="{{ user.email }}" required>
			</div>
			<div class="form-group">
				<label for="region">Región</label>
				<input list="regionlist" class="form-control" id="region" name="region" value="{% if user.usuario.ubicacion %}{{user.usuario.ubicacion.region}}:{{ user.usuario.ubicacion }}{% endif %}" required>
				<datalist id="regionlist">
				{% for region in regiones %}
					{% for ciudad in region.ciudades.all %}
						<option value="{{region}}:{{ciudad}}">{{ciudad|title}} ({{region|title}})</option>
					{% endfor %}
				{% endfor %}
				</datalist>
			</div>
			<div class="form-group"><button type="submit" class="btn btn-success">Enviar</button></div>
			</form>
			<div class="row">
				{% for message in messages %}
				<div class="alert alert-danger">{{message}}</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}