{% extends 'base.html' %}
{% block 'body' %}
<div class="container">
	<ol class="breadcrumb">
		<li class="active"><i class="fa fa-home"></i> Inicio</li>
	</ol>
	<div class="page-header">
		<h1 class="text-center">Bienvenid@, {% firstof user.usuario|title user|title %}</h1>
	</div>
	<div class="row">
		{% if user.is_staff %}
		{# Admin #}
		{% elif user.usuario.profesor %}
		{# Profesor #}
		{% else %}
		{# Estudiante #}
		{% endif %}
	</div>
	{# Validaciones varias #}
	{% if regiones or categorias or profesor %}
	<div class="alert alert-danger">
		<strong>El sistema no está completamente configurado.</strong>
		<p>Para poder continuar, deben ser configurados los siguientes parámetros.</p>
		<ul>
			{% if regiones %}
			<li>{% if request.user.is_staff %}<a href="{% url 'regiones' %}">Regiones</a>{% else %}Regiones{% endif %}</li>	
			{% endif %}
			{% if categorias %}
			<li>{% if request.user.is_staff %}<a href="{% url 'categorias' %}">Categorias</a>{% else %}Categorias{% endif %}</li>	
			{% endif %}
			{% if profesor %}
			<li>{% if request.user.is_staff %}<a href="{% url 'roles' %}">Roles (al menos un profesor)</a>{% else %}Roles (al menos un profesor){% endif %}</li>	
			{% endif %}
		</ul>
		{% if request.user.is_staff %}
		<p>Dirígase al panel de <a href="{% url 'adminPanel' %}">Administración</a> para configurar estos parámetros.</p>
		{% else %}
		<p>Contacte con el administrador del sistema para que configure estos parámetros.</p>
		{% endif %}
	</div>
	{% endif %}
</div>
{% endblock %}