{% extends 'base.html' %}
{% block 'body' %}
<div class="container">
	<div class="page-header"><h1 class="text-center">Bienvenido</h1></div>
	<div class="col-sm-6 col-sm-offset-3 panel-group" id="login" role="tablist" aria-multiselectable="true">
		<div class="panel panel-primary">
			<div class="panel-heading"><div class="panel-title text-center"><a data-toggle="collapse" data-target="#panellogin">Iniciar Sesion</a></div></div>
			<div class="panel-body collapse{% if messages %}{%for m in messages%}{% if m.level == DEFAULT_MESSAGE_LEVELS.INFO %} in{% endif %}{%endfor%}{% endif %}" id="panellogin" data-parent="#login" >
				<form action="{% url 'login' %}" class="form-horizontal" method="post">
				{%csrf_token%}
					<div class="form-group">
						<label for="username" class="col-sm-3 control-label">Usuario</label>
						<div class="col-sm-9">
							<input class="form-control" type="text" name="username" id="username">
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="col-sm-3 control-label">Contraseña</label>
						<div class="col-sm-9">
							<input class="form-control" type="password" name="password" id="password">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-9">
							<input type="submit" class="btn btn-primary" value="Iniciar Sesion">
						</div>
					</div>
					{%if messages%}
					{%for m in messages%}
					{% if m.level == DEFAULT_MESSAGE_LEVELS.INFO %}
					<div class="alert alert-danger" role="alert">{{m}}</div>
					{%endif%}
					{%endfor%}
					{%endif%}
				</form>
			</div>
		</div>

		<div class="panel panel-success">
			<div class="panel-heading "><div class="panel-title text-center"><a data-toggle="collapse" data-target="#panelregister">Registrarse</a></div></div>
			<div class="panel-body collapse{% if messages %}{%for m in messages%}{% if m.level == DEFAULT_MESSAGE_LEVELS.WARNING or m.level == DEFAULT_MESSAGE_LEVELS.ERROR or m.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} in{% endif %}{%endfor%}{% endif %}" id="panelregister" data-parent="#login">
				
				
				<form action="{% url 'register' %}" class="form-horizontal" method="post">
				{%csrf_token%}
					<div class="form-group{%if messages%}{%for m in messages%}{%if m.level == DEFAULT_MESSAGE_LEVELS.WARNING %} has-error{%endif%}{%endfor%}{%endif%}">
						<label for="username" class="col-sm-3 control-label">Usuario</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" name="username" id="username" required>
							{%if messages%}
							{%for message in messages%}
							{% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
							<span class="help-block">Usuario inválido o ya existe.</span>
							{%endif%}
							{%endfor%}
							{%endif%}
						</div>
					</div>
					<div class="form-group{%if messages%}{%for m in messages%}{%if m.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} has-error{%endif%}{%endfor%}{%endif%}">
						<label for="password" class="col-sm-3 control-label">Contraseña</label>
						<div class="col-sm-9">
							<input type="password" class="form-control" name="password" id="password" required>
							{%if messages%}
							{%for message in messages%}
							{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
							<span class="help-block">{{message}}</span>
							{%endif%}
							{%endfor%}
							{%endif%}
						</div>
					</div>
					<div class="form-group{%if messages%}{%for m in messages%}{%if m.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} has-error{%endif%}{%endfor%}{%endif%}">
						<label for="password" class="col-sm-3 control-label">Repetir contraseña</label>
						<div class="col-sm-9">
							<input type="password" class="form-control" name="password2" id="password2" required>
						</div>
					</div>
					<div class="form-group{%if messages%}{%for m in messages%}{%if m.level == DEFAULT_MESSAGE_LEVELS.ERROR %} has-error{%endif%}{%endfor%}{%endif%}">
						<label for="email" class="col-sm-3 control-label">Correo</label>
						<div class="col-sm-9">
							<input type="email" class="form-control" name="email" id="email" required>
							{%if messages%}
							{%for message in messages%}
							{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
							<span class="help-block">Correo ya registrado.</span>
							{%endif%}
							{%endfor%}
							{%endif%}
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-9">
							<input type="submit" class="btn btn-success" value="Registrarse">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
