{% load customfilters %}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#entradas-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'index' %}">GroupMe</a>
    </div>
    <div class="collapse navbar-collapse" id="entradas-navbar">
      
      <ul class="nav navbar-nav">
        {% if user.is_authenticated and user|user_valido %}
        <li{% if request.path|slice:"1:7" == "perfil" %} class="active"{%endif%}>
          <a href="{% url 'profile' %}"><i class="fa fa-user"></i> Perfil</a>
        </li>
        <li{% if request.path|slice:"1:12" == "actividades" %} class="active"{%endif%}>
          <a href="{% url 'actividades' %}"><i class="fa fa-briefcase"></i> Actividades</a>
        </li>
        {% endif %}
        {% if user.is_staff %}
        <li{% if request.path|slice:"1:15" == "administracion" %} class="active"{%endif%}>
          <a href="{% url 'adminPanel' %}"><i class="fa fa-cogs"></i> Administración</a>
        </li>
        {%endif%}
      </ul>
      
      {% if user.is_authenticated %}
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{%if user.first_name%}{{user.first_name|title}} {{user.last_name|title}}{%else%}{{user|title}}{%endif%} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a href="{% url 'profile'%}"><i class="fa fa-user-o"></i> Ver perfil</a>
              <a href="{% url 'logout'%}"><i class="fa fa-sign-out"></i> Cerrar Sesion</a>
            </li>
          </ul>
        </li>
      </ul>
      {% endif %}
    </div>
  </div>
</nav>