{% extends 'base.html' %}
{% block 'title' %} | Perfil{% endblock %}
{% block 'body' %}
<div class="container">
	<ol class="breadcrumb">
		<li><a href="{% url 'index' %}"><i class="fa fa-home"></i> Inicio</a></li>
		<li><a href="{% url 'profile' %}">Perfil</a></li>
		<li class="active">Cambiar contraseña</li>
	</ol>
	<div class="page-header">
		<h1 class="text-center"><i class="fa fa-key"></i> Cambio de contraseña para {{ request.user.usuario|title }}</h1>
	</div>
	<form method="post" action="">
	{% csrf_token %}
	<div class="form-group col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
		<label for="actual">Contraseña actual</label>
		<input type="password" class="form-control" name="actual" id="actual" required>
	</div>
	<div class="form-group col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
		<label for="nueva1">Nueva contraseña</label>
		<input type="password" class="form-control" name="nueva1" id="nueva1" required>
	</div>
	<div class="form-group col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
		<label for="nueva2">Repetir contraseña</label>
		<input type="password" class="form-control" name="nueva2" id="nueva2" required>
	</div>
	<div class="form-group col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
		<button class="btn btn-primary" type="submit">Cambiar</button>
	</div>
	</form>
	<div class="row">
		{% for mensaje in messages %}
		<div class="alert alert-danger alert-dismissible col-md-4 col-md-offset-4" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<strong>¡Error!</strong> 
			{{mensaje}}
		</div>
		{% endfor %}	
	</div>
</div>
{% endblock %}