{% extends 'base.html' %}
{% block 'title' %} | Perfil{% endblock %}
{% block 'body' %}
<div class="container">
	<ol class="breadcrumb">
		<li><a href="{% url 'index' %}"><i class="fa fa-home"></i> Inicio</a></li>
		<li class="active">Perfil</li>
	</ol>
	<div class="page-header">
		<h1 class="text-center"><i class="fa fa-user"></i> Perfil de {{ request.user }}</h1>
	</div>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="page-header">
				<h3 class="text-center"><i class="fa fa-vcard-o"></i> Datos básicos</h3>
			</div>
			{% if not request.user.first_name or not request.user.last_name or not request.user.usuario.ubicacion or not request.user.email %}
			<div class="row">
				<div class="alert alert-warning">Debes completar los datos básicos para poder continuar</div>
			</div>
			{% endif %}
			<div class="row">
				<p><b>Usuario</b>: {{request.user}}</p>
				<p{% if not request.user.first_name %} class="text-danger"{% endif %}><b>Nombre</b>: {% firstof request.user.first_name|title 'No definido' %}</p>
				<p{% if not request.user.last_name %} class="text-danger"{% endif %}><b>Apellido</b>: {% firstof request.user.last_name|title 'No definido' %}</p>
				<p{% if not request.user.email %} class="text-danger"{% endif %}><b>Correo</b>: {% firstof request.user.email 'No definido' %}</p>
				<p><b>Rol</b>: {% if request.user.is_staff %}Administrador{% elif request.user.usuario.profesor %}Profesor{% else %}Estudiante	
				{% endif %}</p>
				<p{% if not request.user.usuario.ubicacion %} class="text-danger"{% endif %}><b>Ubicación</b>: {{request.user.usuario.ubicacion|title}}</p>
			</div>
			<div class="row">
				<a href="{% url 'editProfile' %}" class="btn btn-success">Editar</a>
				<a href="{% url 'contrasena' %}" class="btn btn-info">Cambiar contraseña</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}