{% extends 'base.html' %}
{% block 'title' %} | Categorías{% endblock %}
{% load customfilters %}
{% block 'body' %}
<div class="container">
	<ol class="breadcrumb">
		<li><a href="{% url 'index' %}"><i class="fa fa-home"></i> Inicio</a></li>
		<li><a href="{% url 'adminPanel' %}">Administración</a></li>
		<li><a href="{% url 'categorias' %}">Categorías</a></li>
		<li class="active">Agregar opción</li>
	</ol>
	<div class="page-header">
		<h1 class="text-center"><i class="fa fa-check-square-o"></i> Agregar opción a: {{categoria|title}}</h1>
	</div>
	<div class="row">
		<form action="{% url 'categorias' %}" method="post">
		{% csrf_token %}
			<div class="col-md-4 col-md-offset-4">
				<label>Valor</label>
				{% with categoria|valor as val_star %}
				{% for star in "x"|rjust:val_star %}
					<i class="fa fa-star text-info"></i>
				{% endfor %}
				{% endwith %}
				<input type="text" name="valor" value="{{categoria|valor}}" readonly hidden>
			</div>
			<div class="form-group col-md-4 col-md-offset-4">
				<label for="opcion">Nombre</label>
				<input type="text" class="form-control" id="opcion" name="opcion" required>
			</div>
			<div class="form-group col-md-4 col-md-offset-4">
				<button type="submit" class="btn btn-success">Enviar</button>
			</div>
			<input type="text" class="hidden" name="categoria" value="{{ categoria }}">
		</form>	
	</div>
	<div class="row">
		{% for mensaje in messages %}
		<div class="alert alert-danger alert-dismissible col-md-4 col-md-offset-4" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<strong>¡Error!</strong> 
			{{mensaje}}
		</div>
		{% empty %}
		<div class="alert alert-info col-md-4 col-md-offset-4">El valor de las opciones será el orden en que se agreguen, de menor a mayor.</div>
		{% endfor %}	
	</div>
</div>
{% endblock %}