{% extends 'base.html' %}
{% block 'title' %} | Regiones{% endblock %}
{% block 'body' %}
<div class="container">
	<ol class="breadcrumb">
		<li><a href="{% url 'index' %}"><i class="fa fa-home"></i> Inicio</a></li>
		<li><a href="{% url 'adminPanel' %}">Administración</a></li>
		<li><a href="{% url 'regiones' %}">Regiones</a></li>
		<li class="active">Agregar región</li>
	</ol>
	<div class="page-header">
		<h1 class="text-center">Agregar nueva región</h1>
	</div>
	<div class="row">
		<form action="{% url 'regiones' %}" method="post">
		{% csrf_token %}
		<div class="form-group col-md-4 col-md-offset-4">
			<label for="nombre">Nombre</label>
			<input type="text" class="form-control" id="nombre" name="nombre" required>
		</div>
		<div class="form-group col-md-4 col-md-offset-4">
			<button type="submit" class="btn btn-success">Enviar</button>
		</div>
		</form>	
	</div>
	<div class="row">
		{% for mensaje in messages %}
		<div class="alert alert-danger alert-dismissible col-md-4 col-md-offset-4" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<strong>¡Error!</strong> 
			{{mensaje}}
		</div>
		{% endfor %}	
	</div>
</div>
{% endblock %}