{% extends 'base.html' %}
{% block 'title' %} | Categorías{% endblock %}
{% block 'body' %}
<div class="container">
	<ol class="breadcrumb">
		<li><a href="{% url 'index' %}"><i class="fa fa-home"></i> Inicio</a></li>
		<li><a href="{% url 'adminPanel' %}">Administración</a></li>
		<li class="active">Categorías</li>
	</ol>
	<div class="page-header">
		<h1 class="text-center"><i class="fa fa-tags"></i> Configuración de Categorías</h1>
	</div>
	<div class="row">
		<div class="list-group col-md-6 col-md-offset-3">
			<a href="{% url 'addCategoria' %}" class="list-group-item text-center">
				<h4 class="list-group-item-heading">Nueva categoría</i></h4>
			</a>
		{% for categoria in categorias %}
			<div class="list-group-item">
				{% if categoria.nombre != 'ubicacion' %}
				<a class="pull-right btn btn-sm btn-primary" href="{% url 'addOpcion' categoria %}">Agregar opción</a>
				{% endif %}
				<h4 class="list-group-item-heading">{{ categoria | title }} 
					<small>
					{% if categoria.balanceada %}
						(balanceada)
					{% else %}
						(no balanceada)
					{% endif %}
					</small>
				</h4>
				<ol>
				{% for opcion in categoria.opciones.all %}
					<li>{{opcion|title}}</li>
				{% empty %}
					<span>Sin opciones definidas.</span>
				{% endfor %}
				</ol>
			</div>
		{% empty %}
			<div class="list-group-item">
				<h4 class="list-group-item-heading">No hay categorías definidas.</h4>
			</div>
		{% endfor %}
		</div>
	</div>
</div>
{% endblock %}