{% extends 'base.html' %}
{% block 'title' %} | Administración{% endblock %}
{% block 'body' %}
<div class="container">
	<ol class="breadcrumb">
		<li><a href="{% url 'index' %}"><i class="fa fa-home"></i> Inicio</a></li>
		<li class="active">Administración</li>
	</ol>
	<div class="page-header">
		<h1 class="text-center"><i class="fa fa-sliders"></i> Panel de administración</h1>
	</div>
		<div class="col-sm-3">
			<a href="{% url 'regiones' %}">
				<div class="panel panel-default">
					<div class="panel-body">
						<h1 class="text-center"><i class="fa fa-globe fa-2x"></i></h1>
					</div>
					<div class="panel-footer">
						<h4 class="text-center">Regiones</h4>
					</div>
				</div>
			</a>
		</div>
		<div class="col-sm-3">
			<a href="{% url 'categorias' %}">
				<div class="panel panel-default">
					<div class="panel-body">
						<h1 class="text-center"><i class="fa fa-tags fa-2x"></i></h1>
					</div>
					<div class="panel-footer">
						<h4 class="text-center">Categorías</h4>
					</div>
				</div>
			</a>
		</div>
		<div class="col-sm-3">
			<a href="{% url 'roles' %}">
				<div class="panel panel-default">
					<div class="panel-body">
						<h1 class="text-center"><i class="fa fa-graduation-cap fa-2x"></i></h1>
					</div>
					<div class="panel-footer">
						<h4 class="text-center">Roles</h4>
					</div>
				</div>
			</a>
		</div>
		<div class="col-sm-3">
			<a href="{% url 'admin:index' %}">
				<div class="panel panel-default">
					<div class="panel-body">
						<h1 class="text-center"><i class="fa fa-terminal fa-2x"></i></h1>
					</div>
					<div class="panel-footer">
						<h4 class="text-center">Django Admin</h4>
					</div>
				</div>
			</a>
		</div>
</div>
{% endblock %}