{% extends 'base.html' %}
{% block 'title' %} | Regiones{% endblock %}
{% block 'body' %}
<div class="container">
	<ol class="breadcrumb">
		<li><a href="{% url 'index' %}"><i class="fa fa-home"></i> Inicio</a></li>
		<li><a href="{% url 'adminPanel' %}">Administración</a></li>
		<li class="active">Regiones</li>
	</ol>
	<div class="page-header">
		<h1 class="text-center"><i class="fa fa-globe"></i> Configuración de Regiones</h1>
	</div>
	<div class="row-fluid">
		<div class="list-group col-md-6 col-md-offset-3">
			<a href="{% url 'addRegion' %}" class="list-group-item text-center">
				<h4 class="list-group-item-heading">Nueva región</h4>
			</a>
		{% for region in regiones %}
			<div class="list-group-item">
				<a href="{% url 'addCiudad' region %}" class="btn btn-sm btn-primary pull-right">Agregar ciudad</a>
				<h4 class="list-group-item-heading">{{ region | title }}</h4>
				<ul>
				{% for ciudad in region.ciudades.all %}
					<li>{{ ciudad | title }}</li>
				{% empty %}
					<li>Sin ciudades definidas.</li>
				{% endfor %}
				</ul>
			</div>
		{% endfor %}	
		</div>	
	</div>
	
</div>
{% endblock %}