{% extends "base.html" %}
{% block 'title' %} | Roles{% endblock %}
{% block 'body' %}
<div class="container table-responsive">
	<ol class="breadcrumb">
		<li><a href="{% url 'index' %}"><i class="fa fa-home"></i> Inicio</a></li>
		<li><a href="{% url 'adminPanel' %}">Administración</a></li>
		<li class="active">Roles</li>
	</ol>
	<div class="page-header">
		<h1 class="text-center"><i class="fa fa-graduation-cap"></i> Definir roles</h1>
	</div>
	<table class="table">
		<tr>
			<th>Usuario</th>
			<th>Nombre completo</th>
			<th>Ubicación</th>
			<th>Acciones</th>	
		</tr>
		{% for usuario in usuarios %}
		<tr>
			<td>{{ usuario }}</td>
			<td>{% firstof usuario.usuario|title 'No definido' %}</td>
			<td>{% firstof usuario.usuario.ubicacion|title 'No definido' %}</td>
			<td>
				{% if usuario.is_staff %}
				<a href="/admin" class="btn btn-xs btn-info">Django Admin</a>
				{% elif usuario.usuario %}
				<div class="btn-group" role="group">
					<a {% if not usuario.usuario.profesor %}href="{% url 'cambiarRol' usuario %}"{% endif %} class="btn {% if usuario.usuario.profesor %}btn-info{% else %}btn-default{% endif %} btn-xs">Profesor</a>
					<a {% if usuario.usuario.profesor %}href="{% url 'cambiarRol' usuario %}"{% endif %} class="btn {% if not usuario.usuario.profesor %}btn-success{% else %}btn-default{% endif %} btn-xs">Estudiante</a>
				</div>
				{% else %}
				El usuario debe completar los datos básicos.
				{% endif %}
			</td>
		</tr>
		{% empty %}
		<tr><td>No se han registrado usuarios, ¿como llegaste acá?</td></tr>
		{% endfor %}
	</table>
	<ul class="list-group">
		
	</ul>
</div>
{% endblock %}